<form ><table>
    <tr><td colspan="2">ajout de rappel</td></tr>
    <tr><td>Text:</td><td><input class="form-control" [(ngModel)]="event.text" type="text" name="d"></td></tr>
    <tr><td>Titre:</td><td><input class="form-control" [(ngModel)]="event.titre"  type="text" name="p"></td></tr>
    <tr><td>Date:</td><td><input class="form-control" [(ngModel)]="event.date"  type="date" name="s"></td></tr>
    <tr><td colspan="2"><input (click)='save()' type="submit" class="btn btn-primary" value="Ajouter"></td></tr>
    
</table>
    </form><br><br>
<app-affichage></app-affichage>